@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" disabled="@Disabled" style="@Style">
    @{
            <NavLink @onclick="() => InvokeAsync(HandleNavigation)"
                     class="@LinkClassname"
                     @attributes="@Attributes"
                     tabindex="@TabIndex"
                     Match="@Match"
                     ActiveClass="@ActiveClass">
                @if (!string.IsNullOrEmpty(IconImage))
                {
                    <img src="@IconImage" alt="Module Icon" style="width: 24px; height: 24px">
                }
                <div class="mud-nav-link-text">
                    @ChildContent
                </div>
            </NavLink>

    }
</div>